body{
    background-image: url("background.svg");
    background-size: cover;
}

#convert{
    background-color: cornflowerblue;
    color:white;
    border:none;
    border-radius: 5px;
    height:40px;
}
input,select{
    height: 40px;
    
}

.wrapper{
    padding:25px 10px 10px 10px;
    margin:auto;
    width:400px;
display: flexbox;
font-family: Arial, Helvetica, sans-serif;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color: white;
box-shadow: 3px 3px 4px 0 rgb(194, 194, 194);
    margin-top:100px;
    height: 180px;

}

label{
    color:grey;
    margin-bottom: 2px;

}

input,label{
   
    display: block;
}

input,select{
    margin-bottom: 30px;
}

#degrees{
display: inline-block;
  margin-right: 10px; 
  margin-left: 10px;
}

#id{
    font-weight: bold;
}
#type{
  display: inline-block;
    margin-right:10px;
    
}

#convert{
display: inline-block;
  margin-top:10px;
}

#result{
    margin-bottom: 10px;
}